/* COLORS */

$color-text: #F0EFF4;
$color-bg: #000000;
$color-bg-card: #3A3E3B;
$color-primary: #9c27b0;
$color-secondary: #291528;
$color-lines: #323533;

/* FONT-SIZE REFERENCE */
$text-desktop: 1rem;
$text-intermediate: 0.8rem;
$text-mobile: 0.66rem;

/* FONT-SIZES */
$text-xxl: 8.1em;
$text-xl: 5.4em;
$text-l: 3.6em;
$text-m: 2.4em;
$text-base: 1.6em;
$text-s: 1.4em;
$text-xs: 1.2em;


/* SPACES */
$spacing-l: 3rem;
$spacing-m: 2rem;
$spacing-s: 1rem;
$spacing-xs: 0.1rem;

/* BORDERS */
$b-desktop: 0.2rem;
$b-mobile: 0.1rem;